 body{
	 background: MintCream;
 }
 
 .headers{
	 text-align: center;
	 padding: 2%;
	 font-family: "Georgia";

 }
 
 .homeP{
	 margin: 2%;
	 font-family: "Georgia";
	 font-size: 110%;
 }